.about_main{
    background-color: rgb(20, 20, 20);
    padding: 20px 30px;
    width: 95%;

}
.about_main>h1{
    font-weight: 300;
    text-transform: uppercase;
    font-size:1.7rem;
    letter-spacing: 0.8px;
    margin-bottom: 1rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}
.about_div1{
    color: white;
}
.about_div1>h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 0.8rem;
}
.about_div1>p{
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 1px;
    width: 50%;
    font-weight: 200;
    line-height: 20px;
}
.about_con{
    display: flex;

}
.about_div11{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 25% 25%;
    gap: 10px;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
}
.right_arr{
    color: green;
    
}
.about_div11>div{
    display: flex;
    justify-content: star;

    align-items: center;
    gap: 4px;


}
.lottie{
    width: 300px;
}


@media only screen and (max-width: 480px) {
    .about_main{
        background-color: rgb(20, 20, 20);
       padding: 0;
        width: 98%;
    
    }
    .about_main>h1{
        font-weight: 300;
        text-transform: uppercase;
        font-size:1rem;
        letter-spacing: 0.8px;
        margin-bottom: 1px;
        color: white;
        text-align: center;
    }
    .about_div1{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_div12{
        display: flex;
        justify-content: center;
    }
    .about_con{
        display: flex;
        flex-direction: column;
        
    }
    .about_div1>h2{
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        margin-bottom: 0.4rem;
        font-size: 0.8rem;
        text-align: center;
    }
    .lottie{
        width: 40vw;
    }
    .about_div1>p{
        font-size: 0.5rem;
        font-weight: 200;
        letter-spacing: 0.5px;
        word-spacing: 0.px;
        width: 90%;
        text-align: center;
        font-weight: 200;
        line-height: 15px;
    }
    .about_div11{
        display: grid;
        margin-top: 2rem;
        grid-template-columns: 40% 40%;
        gap: 1px;
        font-weight: 300;
        font-size: 0.6rem;
        letter-spacing: 0.8px;
    }
    .right_arr{
        color: green;
        
    }
    .about_div11>div{
        display: flex;
        justify-content: star;
    
        align-items: center;
        gap: 4px;
    
    
    }
    

}