.nav_main{
    position: fixed;
    top: 8vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: top 0.3s ease-in-out;
    
}
.nav_main.true{
    top: 0;
}
.nav_main.false{
    top: 0;
   
}
.nav_main.true>.nav_con{
    
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 40px;


}


.nav_con{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.51);
    backdrop-filter: blur(10px);
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    transition: all 0.3s ease-in-out;

}
.nav_con1{

    border-radius: 3px;
    display: inline-block;
    position: relative;
    color: #858585;
    cursor: pointer;
    transition: color 0.3s ease;
    
}
.nav_con1.home,.nav_con1.about,.nav_con1.project,.nav_con1.contact{
    color: white;
}

.nav_con1::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #f6f6f6;
    transition: width 0.3s ease;
  }
  

  
  .nav_con1:hover::after {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
  

    .nav_con{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 60px;
        align-items: center;
        border-radius: 10px;
        border: 1px solid rgba(128, 128, 128, 0.51);
        backdrop-filter: blur(10px);
        color: white;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.8px;
        transition: all 0.3s ease-in-out;
    
    }
}